/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/node_modules/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.DS_Store
package-lock.json
package.json
.cpcache
.lein-failures
